// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #4f5d75;
}

h1, h2, p {
  color: #383a42;
}

i {
  font-style: normal;
  color: #ef8354;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.box {
  background-color: #f9f8f2;
  padding: 10px 20px 30px 20px;
  margin-top: 40px;
}

.header {
  padding: 0px 10px;
}

.letters {
  display: flex;
  margin-bottom: 10px;
}

.letter, .chosen-letter {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  background-color: #a3c4bc;
  margin: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 24px;
    margin: 0px;
  }
}

.chosen-letter {
  border: 3px solid #4f5d75;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-bar {
  width: 380px;
  height: 45px;
  padding: 0px 10px;
  border-radius: 2px;
  border: none;
}

.btn-form {
  height: 45px;
  width: 70px;
}

.btn-back {
  padding: 20px;
}

.btn-form, .btn-back {
  border-radius: 2px;
  border: none;
  background-color: #ef8354;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: #a3c4bc;
    color: white;
    text-decoration: none;
  }
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
